<!DOCTYPE html>
<html>
<head>
  <title>MADLIBS FO REAL</title>
</head>
<body>
    MAGICAL MADLIB:
    <br>
    <br>
    Dear {{ relative1 }},
    <br>
    I am having a(n) {{ adjective1 }} time at camp. The counselour is {{ adjective2 }} and the food is {{ adjective3 }}. I met {{ roomPerson1 }} and we became {{ adjective4 }} friends. Unfortunately, it is {{ adjective5 }} and I {{ verbEndingED }} my {{ bodypart }} so we couldn`t go {{ verbEndingING }} like everybody else. I need more {{ pluralnoun }} and a {{ noun }} sharpener, so please {{ adverb }} {{ verb1 }} more when you {{ verb2 }} back.
    <br>
    <br>
    Your {{ relative2 }},
    <br>
    <br>
    {{ yourname }}
    <!-- There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up, it burst into flames in a totally {{ adjective }} way.  -->
</body>
</html>