<!DOCTYPE html>
<html>
<head>
  <title>MADLIBS</title>
</head>
<body>
    <h1>Hi There!</h1>
    <form action="/madlib">
        Name a relative:<br>
        Jandar<input type="checkbox" value="Jandar" name="relative1">
        Mufasa<input type="checkbox" value="Mufasa" name="relative1">
        Simba<input type="checkbox" value="Simba" name="relative1"><br>
        Adjective
        <input type="text" name="adjective1"><br>
        Adjective
        <input type="text" name="adjective2"><br>
        Adjective
        <input type="text" name="adjective3"><br>
        Person in the room
        <input type="text" name="roomPerson1"><br>
        Adjective 
        <input type="text" name="adjective4"><br>
        Adjective
        <input type="text" name="adjective5"><br>
        Verb ending in ED
        <input type="text" name="verbEndingED"><br>
        Body Part
        <input type="text" name="bodypart"><br>
        Verb ending in ING
        <input type="text" name="verbEndingING"><br>
        Plural Noun
        <input type="text" name="pluralnoun"><br>
        Noun
        <input type="text" name="noun"><br>
        Adverb
        <input type="text" name="adverb"><br>
        Verb
        <input type="text" name="verb1"><br>
        Verb
        <input type="text" name="verb2"><br>
        Name another relative
        <input type="text" name="relative2"><br>
        Your Name
        <input type="text" name="yourname"><br>
        <input type="submit">
        <!-- Person
        <input type="text" name="person"><br>
        Color
        <input type="text" name="color"><br>
        Noun
        <input type="text" name="noun"><br>
        Adjective
        <input type="text" name="adjective"><br>
        <input type="submit">
         -->
    </form>

</body>
</html>